// Workflow manifest
manifest {
    name          = "NBIS support #0000"
    author        = "Erik Fasterius"
    defaultBranch = "main"
    mainScript    = "main.nf"
}

// Parameters
params {
    resultsdir   = "results/"
    workdir      = "work/"
    publish_mode = "copy"
}

// Workflow profiles
profiles {
    uppmax {
        process {
            executor       = 'slurm'
            clusterOptions = '-A "snic2020999"'
            memory         = { 6.GB * task.attempt }
            cpus           = { 1 * task.attempt }
            time           = { 10.h * task.attempt }
            scratch        = '$SNIC_TMP'
            errorStrategy  = 'retry'
            maxRetries     = 1
        }
    }
    devel {
        process {
            time           = 1.h
            errorStrategy  = 'terminate'
        }
        executor.queueSize = 1
        process.queue      = 'devel'
    }
}
