params {

    // Input/output options
    outdir       = "results/"

    // Core Nextflow options
    workdir      = "work/"
    publish_mode = "copy"

    // Institutional configurations
    custom_config_version = 'master'
    custom_config_base    = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

}

profiles {

    docker {
        apptainer.enabled    = false
        docker.enabled       = true
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }

    emulate_amd64 {
        docker.runOptions    = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        docker.enabled       = false
    }

}

// Include nf-core institutional configs when applicable
includeConfig "${params.custom_config_base}/nfcore_custom.config"

manifest {
    name          = "NBIS support #0000"
    author        = "Erik Fasterius"
    defaultBranch = "main"
    mainScript    = "main.nf"
}
