// Workflow manifest
manifest {
    name          = "NBIS support #0000"
    author        = "Erik Fasterius"
    defaultBranch = "main"
    mainScript    = "main.nf"
}

// Parameters
params {

    // Input/output options
    outdir       = "results/"

    // Core Nextflow options
    workdir      = "work/"
    publish_mode = "copy"

}

// Workflow profiles
profiles {

    docker {
        docker.enabled       = true
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }

    arm {
        docker.runOptions    = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
    }

    uppmax {
        process {
            executor         = 'slurm'
            clusterOptions   = '-A "snic20XXYYY"'
            memory           = { 6.GB * task.attempt }
            cpus             = { 1 * task.attempt }
            time             = { 10.h * task.attempt }
            scratch          = '$SNIC_TMP'
            errorStrategy    = 'retry'
            maxRetries       = 1
        }
    }

    devel {
        process {
            time             = 1.h
            errorStrategy    = 'terminate'
        }
        executor.queueSize   = 1
        process.queue        = 'devel'
    }

}
